#logo_img {
	width: 225px;
}

#login_box {
    background-color: white;
    padding: 20px;
    border: 1px solid;
    margin-top: 35%;
}

#ueberschrift_login_box {
	color: #D61B1B;
	border-bottom: 3px solid #D61B1B;
	font-size: 18px;
	font-weight: bold;
}

#button {
	background-color: #397CA3;
}

#image {
	text-align: center;
}

footer {
	background-color: #33A876;
	color: white;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#href_link {
	color: white;
}

footer p {
	margin-bottom: .25rem;
}

#logo_gruppe_img {
	width: 150px;
	margin-top: -20px;
}

#ueberschrift {
	color: #D61B1B;
	border-bottom: 3px solid #D61B1B;
	margin-top: 15px;
}

@media (max-width: 768px) {
		#logo_gruppe_img {
		width: 150px;
		margin-top: 0px;
	}
}

#navbar_logo_img {
	width: 100px;
}

#logout_button {
	background-color: #f8f9fa;
	color: black;
	border: none !important;
	font-size: 16px;
	padding: 0px;
}

.nav-link {
	color: black !important;
}



/* file uploader */
.upload_body {
	padding-left: 15px;
	padding-right: 15px;
}

#analyse_button {
	width: 150px;
}


